# Core dependencies
pandas>=1.3.0
openpyxl>=3.0.7
PyQt5>=5.15.0
python-dateutil>=2.8.2
matplotlib

# Development dependencies
pytest>=6.2.5
pytest-qt>=4.0.2
black>=21.12b0
isort>=5.10.1
mypy>=0.931
flake8>=4.0.1
PyQtChart
matplotlib

# Coverage
coverage>=6.5.0
pytest-cov>=4.0.0

# Supabase integration
supabase
dotenv
